:root {
  --primary-color: #ff8eae;
  --dark-color: #4a4a4a;
  --light-color: #fff;
}

html {
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: "Ananias";
  src: url("font/nf-ananias-regular.ttf"); /* Modern Browsers */
}

/* General */
body {
  background: linear-gradient(119.33deg, #f7f0a3 14.56%, #fd6f91 72.71%);
  color: var(--light-color);
  font-family: "Ananias", sans-serif;
  color: var(--dark-color);
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 2rem;
}

img {
  width: 100%;
}

a,
a:hover {
  color: var(--dark-color);
}

.btn {
  transition: 0.4s;
  box-shadow: 0px 6px 10px 0px #54545452 inset;
}

.text-primary {
  color: var(--primary-color) !important;
}

.heading {
  font-size: 3rem;
  margin-block: 2rem;
  color: var(--light-color);
}

.btn-primary,
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active
  /* .map:hover,
  .map:hover::before,
  .map:hover::after*/ {
  color: var(--bg-color);
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

section,
#faq {
  margin-top: 100px;
}

/* Header */
header {
  z-index: 100;
  transition: 0.4s;
  top: 0;
}

.header-bg {
  transition: 0.4s;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(7px);
  border-bottom: solid 1px var(--primary-color);
}

.navbar-brand {
  width: 100px;
}

.nav-link {
  color: var(--dark-color);
  transition: 0.4s;
}

.nav-link:hover {
  color: var(--primary-color);
}

/* Hero */
#hero {
  padding-top: 100px;
}

#hero h1 {
  font-size: 3rem;
}

.text-border {
  color: var(--bg-color);
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color);
}

.arrow {
  width: 23px;
  height: 23px;
}

/* Section One */

#about .box {
  box-shadow: 0px 4px 16px 0px #3a3a3a3d;
  border-radius: 32px;
}

.about-text {
  font-size: 3rem;
  font-weight: bold;
}


/* Features */
.feature {
  box-shadow: 0px 6px 10px 0px #54545452 inset;
  border-radius: 24px;
  border: 4px solid #ff8eae;
}

/* Roadmap */
#roadmap {
  margin-top: 100px;
}

.roadmap-line {
  margin-top: 3rem;
  width: 100%;
  height: 8px;
  background-color: var(--light-color);
  box-shadow: 0px 6px 10px 0px #54545452 inset;
}

.maps {
  gap: 20px;
}

.map {
  padding: 1rem;
  border-radius: 10px;
  position: relative;
}

.map::before {
  position: absolute;
  width: 32px;
  height: 32px;
  content: "";
  bottom: -68px;
  left: 40px;
  border-radius: 50%;
  box-shadow: 0px 6px 10px 0px #54545452 inset;
  background: #ffbf18;
}

.map ul {
  list-style: disc;
  padding-left: 1rem;
}

/* Tokenomics */
.token-feature {
    padding-top: 4rem !important;
  max-width: 550px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.token-feature .content {
    flex: 2;
}

.token-feature div {
    flex: 1.5;
}

.token-feature .btn {
    border-radius: .5rem !important;
    min-width: 180.60px !important;
}

.token-feature .small-img {
    position: absolute;
    width: 100px;
    top: -50px;
    right: 20%;
}

/* FAQ */
.card {
  box-shadow: 0px 6px 10px 0px #54545452 inset;
  margin-bottom: 1.5rem;
  border-radius: 24px !important;
}
.card-header {
  border: none;
}

.card .btn:focus {
  box-shadow: none !important;
}

.card .btn-link {
  color: var(--dark-color);
  box-shadow: none;
}
.card .btn-link:hover,
.card .btn-link:focus {
  color: var(--primary-color);
  text-decoration: none;
}

/* Footer */

footer {
    margin-top: 5rem;
    padding-bottom: 1rem;
}

footer .nav-link {
  background-color: var(--light-color);
  box-shadow: 0px 6px 10px 0px #54545452 inset !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 1.5rem;
  height: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}



@media (max-width: 576px) {
  #hero h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  #hero {
    padding-top: 50px;
    height: auto;
  }

  .about-text {
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  #about {
    background-position: right;
  }

  #about::before {
    background-color: rgba(18, 18, 18, 0.8);
  }

  .maps {
    flex-direction: column !important;
    border-left: 5px solid var(--light-color);
    padding-left: 2rem;
  }

  .map::before {
    top: 20px;
    left: -48px;
    height: 28px;
    width: 28px;
  }

  .roadmap-line {
    display: none;
  }
}
